@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(110, 117, 117);
  background: linear-gradient(
    90deg,
    rgba(110, 117, 117, 1) 7%,
    rgba(139, 144, 144, 1) 60%
  );
}

* {
  background-color: rgb(46, 43, 43);
}
