@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: rgb(207, 206, 236);
  background: linear-gradient(
    90deg,
    rgba(207, 206, 236, 1) 0%,
    rgba(223, 234, 235, 1) 54%,
    rgba(199, 229, 236, 1) 100%
  );
} */

body {
  background: rgb(110, 117, 117);
  background: linear-gradient(
    90deg,
    rgba(110, 117, 117, 1) 7%,
    rgba(139, 144, 144, 1) 60%
  );
}
